<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DBSERVER" value="172.16.10.11" />
		<add key="DBNAME" value="PROG8290" />
		<add key="DBUSERNAME" value="asn4" />
		<add key="DBPASSWORD" value="CTsvjZ0jQghXYWbSRcPxpQ==" />
		<add key="AESKEY" value="J8gLXc454o5tW2HEF7HahcXPufj9v8k8" />
		<add key="IV" value="fq20T0gMnXa6g0l4" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="FTPSERVER" value="ftp.prog8290.com"/>
	</appSettings>
</configuration>